body{
    background-color: white;

    
}
h1{
    text-align: center;
    background-color: black;
    color: white;
    height: 500px;
   
}
.presentation__detenteur{
    font-weight: bold;
    font-size: 18px;
    

}
/* .sujet{
    &__list{

    }
} */
.sujet__list{
    font-size: 18px;
    font-style: italic;
    text-decoration: underline
    
    
}
.presentation{
    background-image: url(../images/télécharger.jpg);
    background-repeat: no-repeat;
    
}
.photo  {
    p{
    color:rgba($color: #000000, $alpha: 0.1);
}

}
.photo__ex{
    color: red;

}
.photo__ex{
    color: black;

}
.border  {
    border-top: 1px solid red;
    border-radius: 10px; /*border top left, border down left */
    box-shadow: 5px 5px 5px 5px rgb(0, 47, 255); /* il prend quatre valeur */
    text-shadow: 5px;
}
.box{
    &__1{
        height: 50px;
        width: 50px;
        background-color: red;

    }
    &__2{
        height: 50px;
        width: 50px;
        background-color: blue;
    }
    &__3{
        height: 50px;
        width: 50px;
        background-color: violet;
    }

}
.case{
    &__1{
        height: 50px;
        width: 50px;
        background-color:green;

    }
    &__2{
        height: 50px;
        width: 50px;
        background-color: blue;
    }
    &__3{
        height: 50px;
        width: 50px;
        background-color: violet;
    }
}

